<link rel="stylesheet" href="/css/user_profile.css">
    
    <div>
        <h3>Profile Page <%= title %></h1>
  
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
    </div>
    
