form {
  width: 20vw;
  height: auto;
  margin: auto;
  padding: 20px 10px 15px 10px;
  border: 1px solid chartreuse;
  border-radius: 10px; }
  form .input-style {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 10px;
    width: 12rem;
    border-radius: 5px;
    border: 1px solid gray; }
  form #submit-button {
    padding: 7px;
    font-weight: bold;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #d64545;
    color: #c43030;
    background-color: whitesmoke; }
  form #submit-button:hover {
    background-color: #d64545;
    color: white; }
